<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.FoodApp.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRestaurant</servlet-name>
    <servlet-class>com.FoodApp.getRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRestaurant</servlet-name>
    <url-pattern>/GetRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showMenu</servlet-name>
    <servlet-class>com.FoodApp.Servlet.showMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMenu</servlet-name>
    <url-pattern>/showMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.Servlets.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.Servlets.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemServlet</display-name>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <servlet-class>com.Servlets.DeleteCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <url-pattern>/DeleteCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.Servlets.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartControllers</display-name>
    <servlet-name>AddToCartControllers</servlet-name>
    <servlet-class>com.Servlets.AddToCartControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartControllers</servlet-name>
    <url-pattern>/AddToCartControllers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlets</display-name>
    <servlet-name>ClearCartServlets</servlet-name>
    <servlet-class>com.Servlets.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlets</servlet-name>
    <url-pattern>/ClearCartServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemServlets</display-name>
    <servlet-name>DeleteCartItemServlets</servlet-name>
    <servlet-class>com.Servlets.DeleteCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemServlets</servlet-name>
    <url-pattern>/DeleteCartItemServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlets</display-name>
    <servlet-name>UpdateCartServlets</servlet-name>
    <servlet-class>com.Servlets.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlets</servlet-name>
    <url-pattern>/UpdateCartServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logins</display-name>
    <servlet-name>Logins</servlet-name>
    <servlet-class>com.Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logins</servlet-name>
    <url-pattern>/Logins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSer</display-name>
    <servlet-name>RegisterSer</servlet-name>
    <servlet-class>com.Servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSer</servlet-name>
    <url-pattern>/RegisterSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.tap.foodAppServlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.Servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.Servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFavoriteServlet</display-name>
    <servlet-name>AddFavoriteServlet</servlet-name>
    <servlet-class>com.Servlets.AddFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavoriteServlet</servlet-name>
    <url-pattern>/AddFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteServlet</display-name>
    <servlet-name>FavoriteServlet</servlet-name>
    <servlet-class>com.Servlets.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteServlet</servlet-name>
    <url-pattern>/FavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavoriteServlet</display-name>
    <servlet-name>RemoveFavoriteServlet</servlet-name>
    <servlet-class>com.Servlets.RemoveFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavoriteServlet</servlet-name>
    <url-pattern>/RemoveFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.Servlets.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartImageServlet</display-name>
    <servlet-name>CartImageServlet</servlet-name>
    <servlet-class>com.Servlets.CartImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartImageServlet</servlet-name>
    <url-pattern>/CartImageServlet</url-pattern>
  </servlet-mapping>
</web-app>